.info {
  margin-top: 2em;
  background-color: #0c0c0c;
  color: #fdfdfd;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

figure i {
  text-decoration: none;
  color: white;
  display: flex;
  width: 36px;
  height: 36px;
  text-align: center;
  align-content: center;
  padding: 0 10px;
}

figure i:hover,
i:active {
  text-shadow: 0px 0px 15px cyan;
}
