#contato {
  background-color: #0c0c0c;
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  height: 10vh;
}

#contato div {
  display: flex;
  align-items: center;
  text-align: left;
}
#contato img {
  margin: 0 10px;
}
