#contato {
  background-color: #0c0c0c;
  color: #fdfdfd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

#contato div {
  display: flex;
  align-items: center;
  text-align: left;
}
#contato img {
  margin: 0 10px;
}
