.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.menu ul {
  display: flex;
  justify-content: space-around;
  background-color: #ececec;
  list-style: none;
  position: fixed;
  top: 0;
  text-decoration: none;
  width: 100%;
}

li a {
  display: block;
  padding: 15px 75px;
  list-style: none;
  text-decoration: none;
  color: #1a1a1a;
  transition: linear 0.5s;
}

.menu li:hover {
  background-color: #23345e;
  color: white;
}

li a:hover {
  text-decoration: underline;
  color: whitesmoke;
}

.site-title,
.site-subtitle {
  color: whitesmoke;
  margin: 1em;
  text-align: center;
}

.site-title {
  font-size: 2em;
}
.site-subtitle {
  font-size: 1em;
}

@media (min-width: 600px) {
  .site-title {
    font-size: 3em;
  }
  .site-subtitle {
    font-size: 2em;
  }
}

@media (min-width: 1000px) {
  .site-title {
    font-size: 4em;
  }
  .site-subtitle {
    font-size: 3em;
  }
}
