.container {
  height: 100%;
  width: 80%;
  margin: auto;
  padding-top: 2em;
  color: whitesmoke;
  text-align: center;
  align-items: center;
}

.container h2 {
  padding: 1em 0;
}

.portfolio_flex {
  display: flex;
  justify-content: center;
}

.grid {
  display: grid;
  gap: 2em;
}

.card img {
  width: 240px;
  height: 180px;
  object-fit: cover;
}

.card img:hover {
  transition: 1s;
  transform: scale(1.1);
}

@media (min-width: 660px) {
  .container {
    height: 100vh;
  }
  .grid {
    grid-template-columns: repeat(2, 240px);
  }
  .portfolio h2 {
    font-size: 2em;
  }
}

@media (min-width: 1000px) {
  .grid {
    grid-template-columns: repeat(3, 240px);
  }
  .portfolio h2 {
    font-size: 2.5em;
  }
}
